/*****************************
  Counter
*****************************/
.counter {
	display: flex;
	align-items: center;
	padding: 20px 0px;

	.counter-icon {
		i {
			color: $primary;
			margin-right: 25px;
			font-size: 70px;
			line-height: 70px;
		}

	}

	.counter-content {
		align-self: center;

		.timer {
			position: relative;
			font-size: 36px;
			line-height: 36px;
			font-family: $font-hedding;
			color: $white;
			margin-bottom: 10px;
			display: block;
		}

		label {
			display: block;
			color: $white;
			margin-bottom: 0;
		}

	}

}
