/*****************************
  Testimonial
*****************************/
.testimonial {
	.testimonial-item {
		padding: 60px;
		border-radius: $border-radius;
		background: $primary;

		.testimonial-quote {
			font-size: 50px;
			line-height: 50px;
			color: rgba($white, 0.2);
			display: block;
			margin-bottom: 30px;
		}

		.testimonial-content {
			font-size: 22px;
			font-style: italic;
			color: $white;
		}

		.testimonial-author {
			display: flex;
			align-items: center;

			.testimonial-author-img {
				padding: 6px;
				border-radius: 50%;
				background: $white;
				height: 54px;
				width: 54px;
			}

		}

	}

}

.testimonial-center .owl-item {
	opacity: 0.1;
}

.testimonial-center .owl-item.active {
	opacity: 1;
}

.testimonial-center .owl-stage-outer {
	overflow: visible;
}

/* testimonial light */
.testimonial-light {
	.testimonial-item {
		padding: 0;
		border-radius: 0;
		background: transparent;

		.testimonial-quote {
			font-size: 50px;
			line-height: 50px;
			color: rgba($gray-9, 0.2);
			display: block;
			margin-bottom: 30px;
		}

		.testimonial-content {
			font-size: 22px;
			font-style: italic;
			color: $gray-8;
		}

		.testimonial-author {
			display: flex;
			align-items: center;

			.testimonial-author-img {
				padding: 6px;
				border-radius: 50%;
				background: $primary;
				height: 54px;
				width: 54px;
			}

		}

	}

}

// testimonial 02
.testimonial-02 {
	.testimonial-content {
		font-size: 20px;
		padding: 80px 40px 30px;
		position: relative;
		border: 1px solid $border-color;

		&:before {
			position: absolute;
			content: "";
			bottom: -9px;
			width: 0;
			height: 0;
			z-index: 1;
			border-style: solid;
			border-width: 10px 10px 0 10px;
			border-color: $gray-1 transparent transparent transparent;
		}

		&:after {
			position: absolute;
			content: "";
			bottom: -11px;
			width: 0;
			height: 0;
			z-index: 0;
			border-style: solid;
			border-width: 11px 11px 0 10px;
			border-color: $border-color transparent transparent transparent;
		}

		.quotes {
			font-size: 30px;
			line-height: 30px;
			position: absolute;
			top: 36px;
			left: 36px;
			color: lighten($primary, 2%);
		}

	}

	.testimonial-author {
		margin-top: 30px;
		display: flex;
		align-items: center;
	}

}

// testimonial 02-small
.testimonial-02-small {
	.testimonial-content {
		font-size: 14px;
		padding: 60px 40px 20px;

		.quotes {
			font-size: 20px;
			top: 26px;
		}

	}

}

@media (max-width:575px) {
	.testimonial .testimonial-item {
		padding: 26px;
	}

	.testimonial .testimonial-item .testimonial-content {
		font-size: 18px;
	}

}
