<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Directro - Directory and Listing Template" />
    <meta name="author" content="potenzaglobalsolutions.com" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Directro - Directory and Listing Template</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon.ico" />

    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;900&display=swap">

    <!-- CSS Global Compulsory (Do not remove)-->
    <link rel="stylesheet" href="css/font-awesome/all.min.css" />
    <link rel="stylesheet" href="css/flaticon/flaticon.css" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />

    <!-- Template Style -->
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>

    <!--=================================
    coming-soon -->
    <section class="coming-soon vh-100 py-0 bg-overlay-black-80 bg-holder" style="background-image: url(images/bg/02.jpg);">
      <div class="container h-100">
        <div class="row justify-content-center h-100 text-center">
          <div class="col-md-10 align-self-center">
              <div class="row align-items-center">
                <div class="col-12 text-center">
                  <a class="navbar-brand" href="index.html">
                    <img class="img-fluid" src="images/logo.svg" alt="logo">
                  </a>
                </div>
              </div>
            <h1 class="text-white mb-md-5 mb-4">Coming Soon</h1>
            <p class="text-white mb-4">We are currently working on a website and won't take long.</p>
            <div class="countdown-wrapper pt-4 mb-4">
              <div class="countdown">
                <span class="text-white days">00</span>
                <p class="text-white days_ref">days</p>
              </div>
              <div class="countdown">
                <span class="text-white hours">00</span>
                <p class="text-white hours_ref">hours</p>
              </div>
              <div class="countdown">
                <span class="text-white minutes">00</span>
                <p class="text-white minutes_ref">minutes</p>
              </div>
              <div class="countdown">
                <span class="text-white seconds">00</span>
                <p class="text-white seconds_ref">seconds</p>
              </div>
            </div>
            <h4 class="text-white pt-4">We will notify you when site is ready:</h4>
            <p class="lead text-white mt-3">Provide your email address!</p>
              <div class="row justify-content-center">
                <div class="col-lg-9">
                      <form>
                        <div class="row mt-4">
                          <div class="col-xl-9">
                            <div class="form-group">
                              <input type="email" class="form-control" placeholder="Email Address">
                            </div>
                          </div>
                          <div class="col-xl-3">
                            <a href="#" class="btn bg-secondary text-white">Get notified</a>
                          </div>
                      </div>
                      </form>
                  </div>
                </div>
              </div>
          </div>
        </div>
    </section>
    <!--=================================
    coming-soon -->

  <!--=================================
  Javascript -->

  <!-- JS Global Compulsory (Do not remove)-->
  <script src="js/jquery-3.5.1.min.js"></script>
  <script src="js/popper/popper.min.js"></script>
  <script src="js/bootstrap/bootstrap.min.js"></script>

    <!-- Page JS Implementing Plugins (Remove the plugin script here if site does not use that feature)-->
    <script src="js/countdown/jquery.downCount.js"></script>

    <!-- Template Scripts (Do not remove)-->
    <script src="js/custom.js"></script>

</body>
</html>
