{% load static %}
<!--=================================
header -->
<header class="header header-light">
  <nav class="navbar navbar-static-top navbar-expand-lg header-sticky">
      <div class="container-fluid">
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse"><i class="fas fa-align-left"></i></button>
        <a class="navbar-brand" href="{% url 'coreApp:homepage' %}">
          <img class="img-fluid" src="{% static 'coreApp/images/logo-dark.svg' %}" alt="logo">
        </a>
        <div class="navbar-collapse collapse justify-content-start">
          <ul class="nav navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link" href="{% url 'coreApp:homepage' %}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Home</i></a>
            </li>
            <li class="dropdown nav-item">
              <a href="properties.html" class="nav-link" data-toggle="dropdown">Pages<i class="fas fa-chevron-down fa-xs"></i></a>
              <ul class="dropdown-menu megamenu dropdown-menu-lg">
                <li>
                  <div class="row">
                    <div class="col-sm-4">
                      <h6 class="mb-3 nav-title">Pages </h6>
                      <ul class="list-unstyled mt-lg-3">
                        <li><a href="user-profile.html">User profile <span class="badge badge-danger ml-2">Hot</span> </a></li>
                        <li><a href="about-us.html">About us </a></li>
                        <li><a href="advertising.html">Advertising</a></li>
                        <li><a href="booking.html">Booking</a></li>
                        <li><a href="careers.html">Careers</a></li>
                        <li><a href="dashboard-add-listing.html">Add listing</a></li>
                        <li><a href="compare-listing.html">Compare listing</a></li>
                      </ul>
                    </div>
                    <div class="col-sm-4">
                      <h6 class="mb-3 nav-title">Pages</h6>
                      <ul class="list-unstyled mt-lg-3">
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="blog-single.html">Blog detail </a></li>
                        <li><a href="contact-us.html">Contact us</a></li>
                        <li><a href="faqs.html">Faqs</a></li>
                        <li><a href="pricing-plan.html">Pricing plan</a></li>
                        <li><a href="invoice.html">Invoice</a></li>
                        <li><a href="search-no-result.html">Search no result</a></li>
                      </ul>
                    </div>
                    <div class="col-sm-4">
                      <h6 class="mb-3 nav-title">Authentication</h6>
                      <ul class="list-unstyled mt-lg-3">
                        <li><a href="login.html">login</a></li>
                        <li><a href="coming-soon.html">Coming soon</a></li>
                        <li><a href="error-404.html">Error 404</a></li>
                        <li><a href="privacy-policy.html">Privacy policy</a></li>
                        <li><a href="terms-and-conditions.html">T&C</a></li>
                      </ul>
                    </div>
                  </div>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown active">
              <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Listing <i class="fas fa-chevron-down fa-xs"></i>
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="listing-grid.html">listing Grid</a></li>
                <li><a class="dropdown-item" href="listing-grid-map.html">listing grid map</a></li>
                <li><a class="dropdown-item" href="listing-list.html">listing list</a></li>
                <li><a class="dropdown-item" href="listing-list-map.html">listing list map</a></li>
                <li class="dropdown-submenu active"><a class="dropdown-item dropdown-toggle" href="#">listing details <i class="fas fa-chevron-right fa-xs"></i></a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="listing-single-01.html">listing Single 01</a></li>
                    <li class="active"><a class="dropdown-item" href="listing-single-02.html">listing Single 02</a></li>
                    <li><a class="dropdown-item" href="listing-single-03.html">listing Single 03  </a></li>
                  </ul>
                </li>
                <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Dropdown <i class="fas fa-chevron-right fa-xs"></i></a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Submenu</a></li>
                  <li><a class="dropdown-item" href="#">Submenu</a></li>
                  <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Submenu 01 <i class="fas fa-chevron-right fa-xs"></i></a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Subsubmenu 01</a></li>
                    <li><a class="dropdown-item" href="#">Subsubmenu 01</a></li>
                  </ul>
                </li>
                <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Submenu 02 <i class="fas fa-chevron-right fa-xs"></i></a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Subsubmenu 02</a></li>
                  <li><a class="dropdown-item" href="#">Subsubmenu 02</a></li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="dropdown nav-item">
        <a href="#" class="nav-link" data-toggle="dropdown">Elements<i class="fas fa-chevron-down fa-xs"></i></a>
        <ul class="dropdown-menu megamenu dropdown-menu-md">
          <li>
            <div class="row">
              <div class="col-sm-6 col-lg-6">
                <h6 class="mb-3 nav-title">Elements</h6>
                <ul class="list-unstyled mt-lg-3">
                  <li><a href="element-feature-box.html">Feature box</a></li>
                  <li><a href="element-testimonials.html">Testimonials</a></li>
                  <li><a href="element-accordion.html">Accordion</a></li>
                  <li><a href="element-tabs.html">Tabs</a></li>
                </ul>
              </div>
              <div class="col-sm-6 col-lg-6">
                <h6 class="mb-3 nav-title">Elements</h6>
                <ul class="list-unstyled mt-lg-3">
                  <li><a href="element-typography.html">Typography</a></li>
                  <li><a href="element-counter.html">counter</a></li>
                  <li><a href="element-countdown.html">Countdown</a></li>
                  <li><a href="element-category.html">Category</a></li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          User panel <i class="fas fa-chevron-down fa-xs"></i>
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="dashboard.html">dashboard</a></li>
          <li><a class="dropdown-item" href="dashboard-add-listing.html">Add listing</a></li>
          <li><a class="dropdown-item" href="dashboard-booking.html">Booking</a></li>
          <li><a class="dropdown-item" href="dashboard-invoice-listing.html">Invoice listing</a></li>
          <li><a class="dropdown-item" href="dashboard-message.html">Messages</a></li>
          <li><a class="dropdown-item" href="dashboard-chat.html">Chat</a></li>
          <li><a class="dropdown-item" href="dashboard-my-listings.html">My listings</a></li>
          <li><a class="dropdown-item" href="dashboard-bookmark.html">Bookmark</a></li>
          <li><a class="dropdown-item" href="dashboard-my-profile.html">My Profile</a></li>
          <li><a class="dropdown-item" href="dashboard-review.html">Reviews</a></li>
      </ul>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Blog <i class="fas fa-chevron-down fa-xs"></i>
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="blog.html">Blog</a></li>
          <li><a class="dropdown-item" href="blog-single.html">Blog detail </a></li>
      </ul>
    </li>
  </ul>
  </div>
  <div class="call d-block d-md-flex align-items-center">
    <div class="mr-4 d-inline-block">
      <a class="text-white" href="tel:1-800-555-1234"><i class="fa fa-phone mr-2 fa fa-flip-horizontal"></i>1-800-555-1234 </a>
    </div>
    <div class="login d-inline-block mr-4">
      <a class="text-white" data-toggle="modal" data-target="#loginModal" href="#">Hello sign in<i class="fa fa-user pl-2 text-primary"></i></a>
    </div>
    <div class="add-listing d-none d-sm-block">
      <a class="btn btn-primary btn-md" href="dashboard-add-listing.html"> <i class="fa fa-plus-circle"></i>Add listing </a>
    </div>
  </div>
  </div>
</nav>
</header>
<!--=================================
header -->

<!--=================================
Modal login -->
<div class="modal login fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-header border-0">
      <h5 class="modal-title" id="loginModalLabel">Log in & Register</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
       <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <ul class="nav nav-tabs nav-tabs-02 justify-content-center" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="login-tab" data-toggle="tab" href="#login" role="tab" aria-controls="login" aria-selected="false"> <span> Log in</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab" aria-controls="register" aria-selected="true"><span>Register</span></a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
          <form class="form-row mt-4 align-items-center">
            <div class="form-group col-sm-12">
              <input type="text" class="form-control" placeholder="Username">
            </div>
            <div class="form-group col-sm-12">
              <input type="Password" class="form-control" placeholder="Password">
            </div>
            <div class="col-sm-6">
              <button type="submit" class="btn btn-primary btn-block">Sign up</button>
            </div>
            <div class="col-sm-6">
              <ul class="list-unstyled d-flex mb-1 mt-sm-0 mt-3">
                <li class="mr-1"><a class="text-dark" href="#"><b>Already Registered User? Click here to login</b></a></li>
              </ul>
            </div>
          </form>
          <div class="login-social-media border pl-4 pr-4 pb-4 pt-0 rounded mt-5">
            <div class="mb-4 d-block text-center"><b class="bg-white pl-2 pr-2 mt-3 d-block">Login or Sign in with</b></div>
            <form class="row">
              <div class="col-sm-12">
                <a class="btn btn-skew bg-facebook d-block mb-3 text-white" href="#"><span><i class="fab fa-facebook-f"></i>Login with Facebook</span></a>
              </div>
            </form>
          </div>
        </div>
        <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
          <form class="form-row mt-4 mb-5 align-items-center">
            <div class="form-group col-sm-12">
              <input type="text" class="form-control" placeholder="Username">
            </div>
            <div class="form-group col-sm-12">
              <input type="email" class="form-control" placeholder="Email Address">
            </div>
            <div class="form-group col-sm-12">
              <input type="Password" class="form-control" placeholder="Password">
            </div>
            <div class="form-group col-sm-12">
              <input type="Password" class="form-control" placeholder="Confirm Password">
            </div>
            <div class="col-sm-6">
              <button type="submit" class="btn btn-primary btn-block">Sign up</button>
            </div>
            <div class="col-sm-6">
              <ul class="list-unstyled d-flex mb-1 mt-sm-0 mt-3">
                <li class="mr-1"><a class="text-dark" href="#"><b>Already Registered User? Click here to login</b></a></li>
              </ul>
            </div>
          </form>
          <div class="login-social-media border pl-4 pr-4 pb-4 pt-0 rounded mt-5">
            <div class="mb-4 d-block text-center"><b class="bg-white pl-2 pr-2 mt-3 d-block">Login or Sign in with</b></div>
            <form class="row">
              <div class="col-sm-12">
                <a class="btn btn-skew bg-facebook d-block mb-3 text-white" href="#"><span><i class="fab fa-facebook-f"></i>Login with Facebook</span></a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!--=================================
Modal login -->